<!DOCTYPE html>
<html>
<head>
    <title>Lyrical Beatdown</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png"
          href="{{ url_for('static', filename='img/fist_200x200.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.0/b-1.5.2/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/sl-1.2.6/datatables.min.css"
          rel="stylesheet"/>

    <link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.0/b-1.5.2/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/sl-1.2.6/datatables.min.js"></script>
    {% block head_content %}
    {% endblock %}
</head>
<body>

<div class="container">
    <div class="page-header">
    </div>

    {% set navigation_bar = [
    ('browse_artists', 'browse_artists', 'Browse Artists'),
    ('browse_albums', 'browse_albums', 'Browse Albums'),
    ('contact_form', 'contact_form', 'Request Artist'),
    ('oh_bear', 'oh_bear', 'Oh, Bear!')
] %}

    {% set active_page = active_page|default('index') %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}"><img
                src="{{ url_for('static', filename='img/fist_200x200.png') }}" class="d-inline-block align-top"
                width="30" height="30" alt="">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                {% for href, id, caption in navigation_bar %}
                    <li class="nav-item{% if id == active_page %} active{% endif %}">
                        <a class="nav-link" href="{{ url_for(href) }}">{{ caption }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</div>

</body>
</html>


